<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
   <%= stylesheet_link_tag 'application' %>
      <%= stylesheet_link_tag 'mobile' if mobile_device? %>
      <%= yield(:head) %>
   <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<% if mobile_device? %>
<%= render 'layouts/headerm' %>
   <% else %>
<%= render 'layouts/header' %>
    <% end %>
<div class="container">

	  </div>
<%= yield %>

   



<% if mobile_device? %>
<%= render 'layouts/footerm' %>
<% else %>
<%= render 'layouts/footer' %>
 <% end %>
</body>
</html>
